*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.header {
  margin: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  display: block;
}

.header__nav_list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.header__nav_list_item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #070F18;
}

.btn__sign-in {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  padding: 12px 48px;
  background: #F5F6FB;
  color: #070F18;
  border: 1px solid #F5F6FB;
}

.mobile__burger {
  display: none;
}

#menu {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

@media (max-width: 767px) {
  .header__logo {
    z-index: 99999;
  }
  .header__container {
    padding: 0 20px;
  }
  .header__nav_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 77%;
    padding: 0 25px;
    padding-top: 140px;
    flex-direction: column;
    background-color: #1F7CFF;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .header__nav_list a {
    color: #fff;
  }
  .btn__sign-in {
    display: none;
  }
  .mobile__burger {
    display: block;
    transition: all 0.5s ease;
  }
  #menu:checked ~ .header__nav .header__nav_list {
    transform: translateX(0);
  }
  #menu:checked ~ .mobile__burger {
    transform: rotate(180deg);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__container {
    padding: 0 40px;
  }
  .header__container {
    gap: 37px;
  }
  .header__nav_list {
    gap: 20px;
  }
}
.hero__container {
  margin-top: 78px;
}

.hero__menu {
  padding: 40px 30px;
  margin-bottom: 70px;
  background-image: url("../Images/Hero-img.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.hero__menu h2 {
  font-family: "Poppins";
  font-style: normal;
  max-width: 447px;
  font-weight: 700;
  font-size: 55px;
  line-height: 82px;
  color: #000000;
}

.hero__menu p {
  font-family: "Poppins";
  font-style: normal;
  max-width: 423px;
  margin: 20px 0 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #575455;
}

.hero__menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 50px;
  padding: 12px 48px;
  background: #1F7CFF;
  color: #fff;
  border: 1px solid #1F7CFF;
}

.hero__adverts {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__adverts span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #070F18;
}

.hero__adverts_companies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.hero__adverts_companies img {
  width: 100px;
}

@media (min-width: 768px) and (max-width: 1160px) {
  .hero__menu {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__menu h2, .hero__menu p {
    text-align: center;
  }
  .hero__adverts {
    flex-direction: column;
    gap: 30px;
  }
  .hero__adverts span {
    text-align: center;
  }
  .hero__adverts span br {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero__section {
    margin: 50px 0;
  }
  .hero__menu {
    background-image: none;
  }
  .hero__adverts {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .hero__adverts span {
    text-align: center;
  }
  .hero__adverts span br {
    display: none;
  }
}
.info__headings {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.info__headings span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F75C4E;
}

.info__headings h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}

.info__headings p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 400px;
  margin-top: 14px;
  text-align: center;
  color: #575455;
}

.info__list {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 93px;
}

.info__list_items {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.info-icon1 {
  display: block;
  background-color: #1F7CFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-icon2 {
  display: block;
  background-color: #F75C4E;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-icon3 {
  display: block;
  background-color: #191046;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-icon4 {
  display: block;
  background-color: #FF1FB3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon4.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-icon5 {
  display: block;
  background-color: #5C4EF7;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon5.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info-icon6 {
  display: block;
  background-color: #F7954E;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../Images/icon6.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.info__list_items_menu h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #070F18;
}

.info__list_items_menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 249px;
  color: #575455;
}/*# sourceMappingURL=main.css.map */