//? Hero section

// Hero menu

.hero__container {
    margin-top: 78px;
}

.hero__menu {
    padding: 40px 30px;
    margin-bottom: 70px;
    background-image: url("../Images/Hero-img.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.hero__menu h2 {
    font-family: 'Poppins';
    font-style: normal;
    max-width: 447px;
    font-weight: 700;
    font-size: 55px;
    line-height: 82px;
    color: #000000;
}
.hero__menu p {
    font-family: 'Poppins';
    font-style: normal;
    max-width: 423px;
    margin: 20px 0 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #575455;
}
.hero__menu a {
    @include btn(#1F7CFF, #fff, #1F7CFF, 600);
}
// End of Hero menu

// Hero adverts
.hero__adverts {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__adverts span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #070F18;
}

.hero__adverts_companies {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

    img {
        width: 100px;
    }
}
// End of Hero adverts

// Media queries

//todo: Tablet
@media (min-width: 768px) and (max-width: 1160px) {
    .hero__menu {
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2, p {
            text-align: center;
        }
    }
    .hero__adverts {
        flex-direction: column;
        gap: 30px;

        span {
            text-align: center;

            br {
                display: none;
            }
        }
    }
}
//todo: Mobile

@media (max-width: 767px) {
    .hero__section {
        margin: 50px 0;
    }

    .hero__menu {
        background-image: none;
    }

    .hero__adverts {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        span {
            text-align: center;

            br {
                display: none;
            }
        }
    }

}

// End of Media queries

//? End of Hero section

//? Info Section

.info__headings {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.info__headings span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F75C4E;
} 

.info__headings h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.info__headings p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 400px;
    margin-top: 14px;
    text-align: center;
    color: #575455;
}

.info__list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 93px;
}

.info__list_items {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.info-icon1 {
    @include oval(#1F7CFF);
    background-image: url("../Images/icon1.svg"); background-repeat: no-repeat;
    background-position: center;
}

.info-icon2 {
    @include oval(#F75C4E);
    background-image: url("../Images/icon2.svg"); background-repeat: no-repeat;
    background-position: center;
    
}
.info-icon3 {
    @include oval(#191046);
    background-image: url("../Images/icon3.svg"); background-repeat: no-repeat;
    background-position: center;
    
}
.info-icon4 {
    @include oval(#FF1FB3);
    background-image: url("../Images/icon4.svg"); background-repeat: no-repeat;
    background-position: center;
    
}
.info-icon5 {
    @include oval(#5C4EF7);
    background-image: url("../Images/icon5.svg"); background-repeat: no-repeat;
    background-position: center;
    
}
.info-icon6 {
    @include oval(#F7954E);
    background-image: url("../Images/icon6.svg"); background-repeat: no-repeat;
    background-position: center;
    
}

.info__list_items_menu  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #070F18;
}

.info__list_items_menu p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    max-width: 249px;
    color: #575455;
}
//? End of Info Section
